@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.header {
	flex-shrink: 0;
	background-color: #2b343d;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;

	font-family: 'Titillium Web';
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}

.header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-logo {
	float: left;
	height: 75px;
	margin: -20px;
}

/* The header links */

.nav {
	line-height: 40px;
	float: right;
	margin-top: 0px;
}

.nav * {
	box-sizing: border-box;
	transition: all .35s ease;
}

.nav li {
	display: inline-block;
	list-style: outside none none;
	padding: 0;
}

.nav a {
	padding: 0 15px;
	color: rgba(255,255,255,.5);
	position: relative;
	text-decoration: none;
	font-size: 16px;
  }
  
  .nav a::before,
  .nav a::after {
	content: '';
	height: 14px;
	width: 14px;
	position: absolute;
	margin: -5px 0;
	transition: transform .2s ease;
	opacity: 0;
  }
  
  .nav a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid #1552c4;
	border-right: 3px solid #2043e0;
	transform: translate(-100%, 50%);
  }
  
  .nav a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid #2043e0;
	border-left: 3px solid #1552c4;
	transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
	transform: translate(0,0);
	opacity: 1;
  }
  
  .nav a:hover {
	color: #348de0;
  }

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header {
		padding: 20px 0;
		height: 75px;
	}

	.header nav {
		line-height: 1;
		float: none;
	}

	.header nav a {
		font-size: 13px;
	}

}

body {
	margin:0;
	padding:0;
	/* height: 100%; */
	background: #838383;

	min-height: 100vh;
    display: flex;
	flex-direction: column;
}

/* Footer */

.content {
	flex-grow: 1;
	min-height: 100%;
	position: relative;
	padding: 20px;
	padding-bottom: 50px;
}

.footer {
	flex-shrink: 0;
	height: 50px;
	position: relative;
	background-color: #2b343d;

	display: grid;
	grid-template-columns: 1fr auto auto auto auto;
}

.footer a {
	text-decoration: none;
	font-family: 'Titillium Web';
	font-size: 18px;
	font-weight: 500;
	
	color: #95999e;
	margin: auto 20px;

	transition: color .2s ease;
}

.footer a:hover {
	color: #bec7d3;
}